<div class="main-container">
  <div class="col-8 offset-2">
    <div class="mt-5 p-2 text-start">
      <div class="card-body">
        <div class="container">
          <div class="title">
            <p style="color: blue; font-weight: 700;" class="h1">Edu Quest Hub</p>
            <p class="h4">"Unlocking Knowledge, Empowering Minds: Your Gateway to Infinite Learning"</p>
            <button class="btn btn-primary mt-5" (click)="nav()">
              Explore Courses
            </button>
          </div>
          <div class="image">
            <img src="../../../assets/Images/techny-textbook-notepad-and-pencil.png" alt="" srcset="">
          </div>
        </div>
        <div class="card col-8 offset-2 mt-2 p-2">
          <div class="row text-center">
            <div class="col-4 h5">
              <p>Course Details</p>
              <p class="h6">Get Details Regarding Specific Topics, Build Roadmap To Your Learning Journey</p>
            </div>
            <div class="col-4 h5 mid">
              <p>Course PDFs</p>
              <p class="h6">Get PDFs Regarding Specific Topics, Build Roadmap To Your Learning Journey</p>

            </div>
            <div class="col-4 h5"><p>Course Videos</p>
              <p class="h6">Get Videos Regarding Specific Topics, Build Roadmap To Your Learning Journey</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
